
.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
}

.listing-item {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    float: left;
    /* background: #fff; */
    border-radius: 10px;
    z-index: 0;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.10);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.10);
}

figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

figure.image {
    position: relative;
    margin: 0;
    padding: 0;
}
.listing-item .listing {
    padding: 20px;
    position: relative;
}

.listing h4:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

.listing h4 {
    font-size: 15px;
    text-align: center;
    padding: 5px 10px;
    font-weight: bold;
}

.tariffSuite{
    color: #ff0909;
    font-size: medium;
    font-weight: bold;
}

listing-item .listing {
    padding: 20px;
    position: relative;
}

.booking_ocline .book_room .book_now select option{
    color: black;
}

.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 999999;
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
    z-index: 99999;
}

/* [class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} */


/* .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} */

.icon-bar a:hover {
    color: white;
    background-color: black;
}

.facebook {
    background: #3B5998;
    color: white;
}

.instagram {
    background: #bb0000;
    color: white;
}

.whatsapp {
    background: #25D366;
    color: white;
}

.phone {
    background: #55ACEE;
    color: white;
}

footer img{
    width: 50%;
    justify-content: start;
    
}

footer ul .social_icon{
    padding-left: 10px;
}

.carousel-logo{
    margin-top: 60%;
    width: 50%;
    /* background-color: white; */
}

.blog .blog_box .blog_room .listing span{
    font-size: 22px;
    color: #ff0909;
    font-weight: bold;
    margin-bottom: -10px;
    display: block;
}

.facility h2{
    font-size: 25px;
    font-weight: 700;
}